nav ul{
  display: flex;
  justify-content: space-around;
}

nav li{
  list-style: none;
  padding: none;
  text-decoration: none;
}

header{
  background-color: antiquewhite;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  text-align: center;
  background-color: aqua;
}

.api__result{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.api__result-content{
  background-color: silver;
  text-align: justify;
  margin: 5px;
  padding: 20px;
  width: 300px;
}

.api{
  background-color: #706562;
  padding: 20px;
  text-align: center;
}

.api-title{
  color: salmon;
}

h3{
  text-align: center;
}



